{% load static %}


<scrit scr = "{% static '/tinymce/js/prism/js' %}"></scrit>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center #00bcd4 cyan">「Enter_generic_name_here」</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="/logout/">logout</a></li>
        
      {% else %}
        <li><a href="/registration/">Registration</a></li>
        <li><a href="/login/">login</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      {% endif %}
        
      </ul>
    </div>
  </nav>
{% block content %}
{%endblock%}