{% extends "store/head.html"%}

{% block content %}
<br>
<div class = "container">
  <center>
   <!-- <div class="carousel carousel-slider center">
      <div class="carousel-fixed-item center">
        <a  href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
      </div>
      <div class="carousel carousel-slider center">
        <a  href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
      </div>
      <div class="carousel carousel-slider center">
        <a  href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
      </div>
      <!--<a class="carousel-fixed-item center" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
      <a class="carousel-fixed-item center" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>-->
    

<h2>Now is on sales!</h2>
<hr align = "center" size = "2" color = "#ff0000" />

  <div class = "carousel carousel-slider center">
    
    <div class = "carousel-item white white-text" href = "#one!">
      <div class = "card">
        <div class = "card-image">
          <img src = "https://lorempixel.com/250/250/nature/1" height = "450px" width = "400px">
          <span class = "card-title">First Panel</span>
        </div>
      </div>  
      <p class = "white-text">This is your first panel</p>
    </div>
    <div class = "carousel-item amber white-text" href = "#two!">
      <h2>Second Panel</h2>
      <p class = "white-text">This is your second panel</p>
    </div>
    <div class = "carousel-item green white-text" href = "#three!">
      <h2>Third Panel</h2>
      <p class ="white-text">This is your third panel</p>
    </div>
    <div class ="carousel-item blue white-text" href = "#four!">
      <h2>Fourth Panel</h2>
      <p class ="white-text">This is your fourth panel</p>
    </div>
  </div>
</div>

    <script type = "text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel.carousel-slider.center');
      var instances = M.Carousel.init(elems, {indicators:true,
                                              dist:0,
                                              fullWidth:true,
                                              padding:50});

       });

      function func(instance) {
        instance.next();
        }

      var elem = document.querySelector('.carousel.carousel-slider.center'); 
      var instance = M.Carousel.getInstance(elem);
      
      setTimeout(func, 1000, instance);
    </script>

    <!--<script type="text/javascript">
       var instance = M.Carousel.init({
    
    indicators: true
  });
    </script>-->
<br>
    <h2>Is gaining in popularity</h2>
<div class="progress">
      <div class="indeterminate"></div>
  </div>

{%for n in News%}
  <div class = "row">
  <div class="col l2"></div>

       <div class="col l8 m7 l8">
    
    
    <div class = "card horizontal">
        <div class = "card-image">
        {% if n.image%}
        <img src = "{{n.image.url}}" height = 240, width = 1>
        {%endif%}
      </div>
      <div class = "card-stacked">
        <div class = "card-content">
          <h4 class = "header">{{n.tittle}}</h4>
          <p>{{ n.text|safe|truncatewords:40}}...</p>
        </div>
        <div class = "card-action">
          
          </div>
          <a href = "/{{n.url_slug}}"> More...</a>
        </div>
      </div>
    
  </div> 
    <div class="col l2"></div>   

</div>
  {% endfor %}

</center>
</div>
 {% endblock %}
