{% extends "store/head.html"%}

{% block content %}
<div class = "container">
 <form method = "post">
 	{% csrf_token %}
 	{{form.as_p}}
 	<button type ="Submit"
 	class = "btn btn-outline-info">Зайти</button>
 	<p>
   </p>
 </form>
 <p class ="white-text">Якщо ви ще не зареєструвались, то шо ви тут робите?
 <a href = "/shop/" onclick = "M.toast({html:'LOL'})" class = "btn"><strong>Вийти</strong></a></p>
 {% if messages %}
 	{%for message in messages %}
 		{% if message.tags == "error"%}
 			<script>M.toast({html:'{{message}}', classes : "red rounded", DisplayLenght : 600})</script>
 		{% endif %}
 	{% endfor %}
 {% endif %}
 </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 {% endblock %}

