{% extends "store/head.html"%}

{% block content %}

<div class="container">
<div class = "row">
{%for n in posts%}

       <div class="col s12 m7 l12">
    <div class="card horizontal">

        <div class="card-image">
        {% if n.image%}
        <img src="{{n.image.url}}" height = 250, width = 200>
        {%endif%}
      </div>
      
      <div class="card-stacked">
        <h4 class="header">{{n.tittle}}</h4>
        <div class="card-content">
          <p>{{ n.text|safe|truncatewords:40}}...</p>
        </div>
        <div class="card-action">
          
          </div>
          <a href="{{n.url_slug}}">More...</a>
        </div>
      </div>
    
  </div>    


  {% endfor %}
</div>
</div>
<br>
<br>
<br>


{% endblock %}