{% extends "store/head.html"%}

{% block content %}



<p> HI </p>

<div class="container">
<div class = "row">
{%for n in News%}

       <div class="col s12 m7 l6">
    <h2 class="header">{{n.tittle}}</h2>
    
    <div class="card horizontal">
        <div class="card-image">
        {% if n.image%}
        <img src="{{n.image.url}}" height = 250, width = 200>
        {%endif%}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{ n.text|safe|truncatewords:40}}...</p>
        </div>
        <div class="card-action">
          
          </div>
          <a href="{{n.url_slug}}">Buy more games</a>
        </div>
      </div>
    
  </div>    


  {% endfor %}
</div>


{% endblock %}